<div class="container margin-top">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Design your cocktail :</h1>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.button :submit, class: "btn btn-primary btn-index" %>
          <%= link_to "Back", cocktails_path, class: "btn btn-primary btn-index"%>
        <% end %>
    </div>
  </div>
</div>
